<. include!("../components/headers/widget-headers.html"); .>
  <body>
    <form class="widget__contaienr">
      <label class="widget__verification-container" for="widget__verification-checkbox">
        <input 
			id="widget__verification-checkbox"
			class="widget__verification-checkbox"
		type="checkbox" />
		<span id="widget__verification-text--before">I'm not a robot</span>
		<span id="widget__verification-text--during">Processing...</span>
		<span id="widget__verification-text--after">Verified!</span>
		<span id="widget__verification-text--error">Something went wrong</span>
      </label>
      </div>
    </form>
<.include!("./footer.html"); .>